In [1]:
import pandas as pd
import numpy as np

In [84]:
# TIMES  (freq= 'H'-hour, D'- day, 'W'-week, 'M'-month, 'MS'- month start)
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30'],
              dtype='datetime64[ns]', freq='M')

In [15]:
# every 8 hour
eve=pd.date_range(start='2016 July 15 10:15', end='2016 July 25', freq ='8H'
eve

DatetimeIndex(['2016-07-15 10:15:00', '2016-07-15 18:15:00',
               '2016-07-16 02:15:00', '2016-07-16 10:15:00',
               '2016-07-16 18:15:00', '2016-07-17 02:15:00',
               '2016-07-17 10:15:00', '2016-07-17 18:15:00',
               '2016-07-18 02:15:00', '2016-07-18 10:15:00',
               '2016-07-18 18:15:00', '2016-07-19 02:15:00',
               '2016-07-19 10:15:00', '2016-07-19 18:15:00',
               '2016-07-20 02:15:00', '2016-07-20 10:15:00',
               '2016-07-20 18:15:00', '2016-07-21 02:15:00',
               '2016-07-21 10:15:00', '2016-07-21 18:15:00',
               '2016-07-22 02:15:00', '2016-07-22 10:15:00',
               '2016-07-22 18:15:00', '2016-07-23 02:15:00',
               '2016-07-23 10:15:00', '2016-07-23 18:15:00',
               '2016-07-24 02:15:00', '2016-07-24 10:15:00',
               '2016-07-24 18:15:00'],
              dtype='datetime64[ns]', freq='8H')

In [16]:
len(eve)

29

In [22]:
eve=pd.date_range(start='2016 July 15 10:15', end='2016 July 25', freq='8H', tz='Asia/Hong_Kong')
eve

DatetimeIndex(['2016-07-15 10:15:00+08:00', '2016-07-15 18:15:00+08:00',
               '2016-07-16 02:15:00+08:00', '2016-07-16 10:15:00+08:00',
               '2016-07-16 18:15:00+08:00', '2016-07-17 02:15:00+08:00',
               '2016-07-17 10:15:00+08:00', '2016-07-17 18:15:00+08:00',
               '2016-07-18 02:15:00+08:00', '2016-07-18 10:15:00+08:00',
               '2016-07-18 18:15:00+08:00', '2016-07-19 02:15:00+08:00',
               '2016-07-19 10:15:00+08:00', '2016-07-19 18:15:00+08:00',
               '2016-07-20 02:15:00+08:00', '2016-07-20 10:15:00+08:00',
               '2016-07-20 18:15:00+08:00', '2016-07-21 02:15:00+08:00',
               '2016-07-21 10:15:00+08:00', '2016-07-21 18:15:00+08:00',
               '2016-07-22 02:15:00+08:00', '2016-07-22 10:15:00+08:00',
               '2016-07-22 18:15:00+08:00', '2016-07-23 02:15:00+08:00',
               '2016-07-23 10:15:00+08:00', '2016-07-23 18:15:00+08:00',
               '2016-07-24 02:15:00+08:00', '2016-07-24 10:15:00+08:00',
               '2016-07-24 18:15:00+08:00'],
              dtype='datetime64[ns, Asia/Hong_Kong]', freq='8H')

In [23]:
#Normalize set start time to midnight/ if freq = 'D' it will always start at midnight
eve=pd.date_range(start='2016 July 15 10:15', end='2016 July 25', freq='8H', tz='Asia/Hong_Kong', normalize=True)
eve

DatetimeIndex(['2016-07-15 00:00:00+08:00', '2016-07-15 08:00:00+08:00',
               '2016-07-15 16:00:00+08:00', '2016-07-16 00:00:00+08:00',
               '2016-07-16 08:00:00+08:00', '2016-07-16 16:00:00+08:00',
               '2016-07-17 00:00:00+08:00', '2016-07-17 08:00:00+08:00',
               '2016-07-17 16:00:00+08:00', '2016-07-18 00:00:00+08:00',
               '2016-07-18 08:00:00+08:00', '2016-07-18 16:00:00+08:00',
               '2016-07-19 00:00:00+08:00', '2016-07-19 08:00:00+08:00',
               '2016-07-19 16:00:00+08:00', '2016-07-20 00:00:00+08:00',
               '2016-07-20 08:00:00+08:00', '2016-07-20 16:00:00+08:00',
               '2016-07-21 00:00:00+08:00', '2016-07-21 08:00:00+08:00',
               '2016-07-21 16:00:00+08:00', '2016-07-22 00:00:00+08:00',
               '2016-07-22 08:00:00+08:00', '2016-07-22 16:00:00+08:00',
               '2016-07-23 00:00:00+08:00', '2016-07-23 08:00:00+08:00',
               '2016-07-23 16:00:00+08:00', '2016-07-24 00:00:00+08:00',
               '2016-07-24 08:00:00+08:00', '2016-07-24 16:00:00+08:00',
               '2016-07-25 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Hong_Kong]', freq='8H')

In [ ]:
# Which of these formats DON'T work?
#'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01', '2016/07/01'

In [28]:
wdw=pd.date_range('2016 Jul 1', periods=10, freq='D')
wdw

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [31]:
wdw=pd.date_range('July 1, 2016', periods=10, freq='D')
wdw

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [32]:
wdw=pd.date_range('2016-07-01', periods=10, freq='D')
wdw

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [33]:
wdw=pd.date_range('2016/07/01', periods=10, freq='D')
wdw

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Is '7/1/2016 in January or July? It is July

In [35]:
wdw=pd.date_range('7/1/2016', periods=10, freq='D')
wdw

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [36]:
wdw=pd.date_range('1/7/2016', periods=10, freq='D')  # gives Jan 7 not July 1
wdw

DatetimeIndex(['2016-01-07', '2016-01-08', '2016-01-09', '2016-01-10',
               '2016-01-11', '2016-01-12', '2016-01-13', '2016-01-14',
               '2016-01-15', '2016-01-16'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# What is the class of an individual object held in the date_range?

In [37]:
type(wdw)

pandas.tseries.index.DatetimeIndex

In [38]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [39]:
# You can also more details 
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [40]:
# Or even more...
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [ ]:
# How much detail can you add?  #NANOSECOND DETAIL in time

In [57]:
pd.Timestamp('2016-07-10 10:15:10.123456789')

Timestamp('2016-07-10 10:15:10.123456789')

In [59]:
# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
t = pd.Timestamp('2016-07-10 10:15')
t

Timestamp('2016-07-10 10:15:00')

In [65]:
t.quarter

3

In [66]:
t.month

7

In [68]:
t.week

27

In [69]:
t.dayofweek

6

In [60]:
# TIME SPANS
pd.Period('2016-01')

Period('2016-01', 'M')

In [ ]:
# What's that extra info above? How does it get set?

In [61]:
pd.Period('2016-01-01') # day

Period('2016-01-01', 'D')

In [62]:
pd.Period('2016-01-01 10') #hour

Period('2016-01-01 10:00', 'H')

In [63]:
pd.Period('2016-01-01 10:10') #time with minute

Period('2016-01-01 10:10', 'T')

In [64]:
pd.Period('2016-01-01 10:10:10')  #seconds

Period('2016-01-01 10:10:10', 'S')

In [70]:
# What's the most detailed Period you can get? # Nanosecond time

In [ ]:
# How can you make multiple time periods? 
# Hint look for analogy with pd.date_range() above

In [71]:
# TIME OFFSETS
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [74]:
pd.Timedelta('2M, 1day, 1us')

Timedelta('1 days 00:02:00.000001')

In [75]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [76]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('4H')

Timestamp('2016-01-01 14:10:00')

In [82]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [85]:
rng + pd.Timedelta('1day')

DatetimeIndex(['2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01',
               '2016-12-01', '2017-01-01', '2017-02-01', '2017-03-01',
               '2017-04-01', '2017-05-01'],
              dtype='datetime64[ns]', freq='MS')

In [86]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [89]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [88]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [90]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [91]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [93]:
okd=pd.period_range('2016 Jul 2 10:15', freq='H', periods=10)
okd

PeriodIndex(['2016-07-02 10:00', '2016-07-02 11:00', '2016-07-02 12:00',
             '2016-07-02 13:00', '2016-07-02 14:00', '2016-07-02 15:00',
             '2016-07-02 16:00', '2016-07-02 17:00', '2016-07-02 18:00',
             '2016-07-02 19:00'],
            dtype='period[H]', freq='H')

In [94]:
okd=pd.period_range('2016 Jul 2 10:15', freq='60T', periods=10)
okd

PeriodIndex(['2016-07-02 10:15', '2016-07-02 11:15', '2016-07-02 12:15',
             '2016-07-02 13:15', '2016-07-02 14:15', '2016-07-02 15:15',
             '2016-07-02 16:15', '2016-07-02 17:15', '2016-07-02 18:15',
             '2016-07-02 19:15'],
            dtype='period[60T]', freq='60T')

In [ ]:
# What are some other combos you can produce?
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [99]:
p=pd.Period('2016-07')
p.start_time

Timestamp('2016-07-01 00:00:00')

In [100]:
p.end_time

Timestamp('2016-07-31 23:59:59.999999999')

In [ ]:
t=pd.Period('2016-07-22')

In [101]:
p.start_time<t

True

In [102]:
p.end_time>t

True

In [121]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int32

In [97]:
# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01    2.150829
2016-02   -0.577211
2016-03   -0.930043
Freq: M, dtype: float64

In [103]:
# What type is the index for ts?
type(ts.index)

pandas.tseries.period.PeriodIndex

In [104]:
type(ts.index[0])

pandas._period.Period

In [105]:
# Experiment with various indices
# Hint: does ts['2016'] work? 
ts['2016']

2016-01    2.150829
2016-02   -0.577211
2016-03   -0.930043
Freq: M, dtype: float64

In [106]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int32

In [107]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int32

In [108]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int32

In [109]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int32

In [115]:
ts_period['2016-7-10']

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int32

## How can we index a time series with a date range?

In [124]:

num=40
ts_dt=pd.Series(range(num), pd.date_range('2016-07-1 11:15' , freq='60T', periods=num))
ts_dt.head() # you can measure until ns

2016-07-01 11:15:00    0
2016-07-01 12:15:00    1
2016-07-01 13:15:00    2
2016-07-01 14:15:00    3
2016-07-01 15:15:00    4
Freq: 60T, dtype: int32

In [127]:
type(ts_dt.index)

pandas.tseries.index.DatetimeIndex

In [128]:
type(ts_dt.index[0])

pandas.tslib.Timestamp

In [129]:
ts_dt['2016-07-1 11']

2016-07-01 11:15:00    0
Freq: 60T, dtype: int32

In [135]:
## How can we convert from DateTimeIndex and a PeriodIndex?
ts_pd=ts_dt.to_period(freq='60T') # cannot do ns time
ts_pd.head()

2016-07-01 11:15    0
2016-07-01 12:15    1
2016-07-01 13:15    2
2016-07-01 14:15    3
2016-07-01 15:15    4
Freq: 60T, dtype: int32

In [136]:
ts_pd['2016-07-1 11']

2016-07-01 11:15    0
2016-07-01 12:15    1
Freq: 60T, dtype: int32

In [ ]:
## Grab everything in July 1 and July 2

In [145]:
ts_pd['2016-07-1':'2016-07-2']

2016-07-01 11:15     0
2016-07-01 12:15     1
2016-07-01 13:15     2
2016-07-01 14:15     3
2016-07-01 15:15     4
2016-07-01 16:15     5
2016-07-01 17:15     6
2016-07-01 18:15     7
2016-07-01 19:15     8
2016-07-01 20:15     9
2016-07-01 21:15    10
2016-07-01 22:15    11
2016-07-01 23:15    12
2016-07-02 00:15    13
2016-07-02 01:15    14
2016-07-02 02:15    15
2016-07-02 03:15    16
2016-07-02 04:15    17
2016-07-02 05:15    18
2016-07-02 06:15    19
2016-07-02 07:15    20
2016-07-02 08:15    21
2016-07-02 09:15    22
2016-07-02 10:15    23
2016-07-02 11:15    24
2016-07-02 12:15    25
2016-07-02 13:15    26
2016-07-02 14:15    27
2016-07-02 15:15    28
2016-07-02 16:15    29
2016-07-02 17:15    30
2016-07-02 18:15    31
2016-07-02 19:15    32
2016-07-02 20:15    33
2016-07-02 21:15    34
2016-07-02 22:15    35
2016-07-02 23:15    36
Freq: 60T, dtype: int32

In [147]:
ts_pd['2016-07-2':]

2016-07-02 00:15    13
2016-07-02 01:15    14
2016-07-02 02:15    15
2016-07-02 03:15    16
2016-07-02 04:15    17
2016-07-02 05:15    18
2016-07-02 06:15    19
2016-07-02 07:15    20
2016-07-02 08:15    21
2016-07-02 09:15    22
2016-07-02 10:15    23
2016-07-02 11:15    24
2016-07-02 12:15    25
2016-07-02 13:15    26
2016-07-02 14:15    27
2016-07-02 15:15    28
2016-07-02 16:15    29
2016-07-02 17:15    30
2016-07-02 18:15    31
2016-07-02 19:15    32
2016-07-02 20:15    33
2016-07-02 21:15    34
2016-07-02 22:15    35
2016-07-02 23:15    36
2016-07-03 00:15    37
2016-07-03 01:15    38
2016-07-03 02:15    39
Freq: 60T, dtype: int32

## How can you create a pd.Timestamp with European style formatted date string? hint: dayfirst flag in particular I want March 4, 2016 presented in Euro-style and converted to time stamp

In [148]:
pd.to_datetime('4/3/2016', dayfirst=True)

Timestamp('2016-03-04 00:00:00')

## How can you generate string representation in a desired format from a pd.Timestamp? So for example I want to extract a string '2016' from pd.Timestamp (Mar 4, 2016)

In [151]:
pd.to_datetime('4/3/2016', dayfirst=True).strftime(format='%Y-%m-%d')

'2016-03-04'

In [152]:
pd.to_datetime('4/3/2016', dayfirst=True).strftime(format='%Y')

'2016'

## More neat Indexing

In [154]:
ts_pd[pd.Period('Jul 2, 2016 10', freq='60T')::3]

2016-07-02 10:15    23
2016-07-02 13:15    26
2016-07-02 16:15    29
2016-07-02 19:15    32
2016-07-02 22:15    35
2016-07-03 01:15    38
Freq: 60T, dtype: int32

In [155]:
numbers=list(range(20))
numbers[::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [157]:
numbers[15:1:-1]

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [159]:
ts_pd['Jul 3, 2016'::-1]

2016-07-03 02:15    39
2016-07-03 01:15    38
2016-07-03 00:15    37
2016-07-02 23:15    36
2016-07-02 22:15    35
2016-07-02 21:15    34
2016-07-02 20:15    33
2016-07-02 19:15    32
2016-07-02 18:15    31
2016-07-02 17:15    30
2016-07-02 16:15    29
2016-07-02 15:15    28
2016-07-02 14:15    27
2016-07-02 13:15    26
2016-07-02 12:15    25
2016-07-02 11:15    24
2016-07-02 10:15    23
2016-07-02 09:15    22
2016-07-02 08:15    21
2016-07-02 07:15    20
2016-07-02 06:15    19
2016-07-02 05:15    18
2016-07-02 04:15    17
2016-07-02 03:15    16
2016-07-02 02:15    15
2016-07-02 01:15    14
2016-07-02 00:15    13
2016-07-01 23:15    12
2016-07-01 22:15    11
2016-07-01 21:15    10
2016-07-01 20:15     9
2016-07-01 19:15     8
2016-07-01 18:15     7
2016-07-01 17:15     6
2016-07-01 16:15     5
2016-07-01 15:15     4
2016-07-01 14:15     3
2016-07-01 13:15     2
2016-07-01 12:15     1
2016-07-01 11:15     0
Freq: 60T, dtype: int32